 {% comment %}
<nav class="navbar sticky-top navbar-light bg-light-blue">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <span class="navbar-toggler-icon"></span> &nbsp; Menu</button>
        <div class="me-auto">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/blog">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ms-auto">
            <ul class="navbar-nav">
                <li class="nav-item dropdown "><a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prashant Bhandari</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><button class="dropdown-item text-danger"> Logout </button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> {% endcomment %}

<nav class="navbar sticky-top navbar-light bg-white">
    <div class="container-fluid">
        <div class="ml-5">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>&nbsp;Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link active" aria-current="page" href="/blog">Home</a>
                </div>
            </div>
        </div>
        <div class="mr-5">
            <ul class="nav navbar-toggler">
                <!-- Avatar -->
                <li class="dropdown">
                    <a class="dropdown-toggle " href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="35" alt="Portrait of a Woman" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/profile">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- /container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>