{% extends 'partials/base.html' %} {% block title %}E-chalan Password Reset Confirm{% endblock %} {% block content %}
<div class="container">
    <div class="row mt-4 align-self-center">
        <div class="col ml-0 border-radius-10  ">
            <div class="card shadow border-radius-10 align-self-center da-overlay">
                <div class="card-body">
                    {% if validlink %}
                    <h4>Password Reset Confirm Page</h4>
                    <hr>
                    <form action="" method="post">{% csrf_token %} {{ form.new_password1.errors }}
                        <div class="input-group">
                            <label for="id_new_password1"></label>
                            <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="" placeholder="New Password" required>
                        </div>

                        {{ form.new_password2.errors }}

                        <div class="input-group">
                            <label for="id_new_password2"></label>
                            <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="" placeholder="Confirm Password" required>
                        </div>

                        <div class="input-group">

                            <input type="submit" class="btn btn-primary btn-block" value="Change my password" />

                        </div>
                    </form>{% comment %}
                    <form method="POST">
                        {% csrf_token %} {{ form}}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm">
                    </form> {% endcomment %}
                    <hr> {% else %}
                    <div class="alert alert-info">
                        <h1>Password reset unsuccessful.</h1>
                        <p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}