{% extends 'partials/base.html' %} {% block title %}E-chalan Register Done {% endblock %} {% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Register Done Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Your account has been successfully created.
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}